## Numpy

In [1]:
import numpy as np
arr1=np.array([1,2,3,4,5])
arr2=np.array([2,3,4,5,6])
arr3=np.multiply(arr1,arr2)
print("Array 1 : ",arr1)
print("Array 2 : ",arr2)
print("After multiplying : ",arr3)

Array 1 :  [1 2 3 4 5]
Array 2 :  [2 3 4 5 6]
After multiplying :  [ 2  6 12 20 30]

In [2]:
arr=np.array([4,5,np.nan,9,3,np.nan])
print("original array : ",arr)
print("To find missing values",np.isnan(arr))

original array :  [ 4.  5. nan  9.  3. nan]
To find missing values [False False  True False False  True]

In [3]:
#to test whether each element of a 1-D array is also present in a second array.
print(np.in1d(arr1,arr2))

[False  True  True  True  True]

In [5]:
print(arr1)
#to save into the file
np.savetxt("file1.txt",arr1)
#to load from the txt file
print(np.loadtxt("file1.txt"))

[1 2 3 4 5]
[1. 2. 3. 4. 5.]

In [6]:
#The numpy.linspace function is used to create an array of evenly spaced values over a specified range
print(np.linspace(2.5,6.5,30))

[2.5        2.63793103 2.77586207 2.9137931  3.05172414 3.18965517
 3.32758621 3.46551724 3.60344828 3.74137931 3.87931034 4.01724138
 4.15517241 4.29310345 4.43103448 4.56896552 4.70689655 4.84482759
 4.98275862 5.12068966 5.25862069 5.39655172 5.53448276 5.67241379
 5.81034483 5.94827586 6.0862069  6.22413793 6.36206897 6.5       ]

## Pandas

In [2]:
import pandas as pd
series_list = pd.Series([[10, 20, 30, 40], [50, 60], [70, 80, 90]])
print("New Original Series:")
print(series_list)

print("\nNew Converted Series:")
print(series_list.explode())

New Original Series:
0    [10, 20, 30, 40]
1            [50, 60]
2        [70, 80, 90]
dtype: object

New Converted Series:
0    10
0    20
0    30
0    40
1    50
1    60
2    70
2    80
2    90
dtype: object

In [4]:
import pandas as pd

data = {'X': 15, 'Y': 25, 'Z': 35, 'W': 45, 'K': 55}
series = pd.Series(data)
condition = series <= 35

subset=series[condition]

print("Original Series:")
print(series)

print("\nSubset Series based on given condition:")
print(subset)

Original Series:
X    15
Y    25
Z    35
W    45
K    55
dtype: int64

Subset Series based on given condition:
X    15
Y    25
Z    35
dtype: int64

In [5]:
import pandas as pd

data = {'Category': ['X', 'Y', 'X', 'Z', 'Y', 'X', 'X', 'Z', 'Z']}
series = pd.Series(data['Category'])
most_frequent_value = series.mode()[0]
modified_series = series.where(series == most_frequent_value, 'Other')

print("Original Series:")
print(series)

print("\nModified Series:")
print(modified_series)

Original Series:
0    X
1    Y
2    X
3    Z
4    Y
5    X
6    X
7    Z
8    Z
dtype: object

Modified Series:
0        X
1    Other
2        X
3    Other
4    Other
5        X
6        X
7    Other
8    Other
dtype: object

In [6]:
import pandas as pd
data = {'Numbers': [1, 2, 3, 20, 25, 4, 5, 10]}
series = pd.Series(data['Numbers'])
multiples = series.index[series % 5 == 0]

print("Original Series:")
print(series)

print("\Positions of numbers that are multiples of 5:")
print(multiples)

Original Series:
0     1
1     2
2     3
3    20
4    25
5     4
6     5
7    10
dtype: int64
\Positions of numbers that are multiples of 5:
Int64Index([3, 4, 6, 7], dtype='int64')

In [10]:
import pandas as pd
data = {'Text': ['Mahitha', 'Bhavya', 'Amy', 'Epsitha', 'veda']}
series = pd.Series(data['Text'])
length = series.str.len()

print("Original Series:")
print(series)

print("\nNumber of characters in each word:")
print(length)

Original Series:
0    Mahitha
1     Bhavya
2        Amy
3    Epsitha
4       veda
dtype: object

Number of characters in each word:
0    7
1    6
2    3
3    7
4    4
dtype: int64

In [9]:
import pandas as pd
data = {'YearMonth': ['2022-01', '2021-02', '2024-03', '2023-04']}
series = pd.Series(data['YearMonth'])
month = 10
dates = pd.to_datetime(series + '-' + str(month), format='%Y-%m-%d')

print("Original Series:")
print(series)

print("\nNew Resulting Dates:")
print(dates)

Original Series:
0    2022-01
1    2021-02
2    2024-03
3    2023-04
dtype: object

New Resulting Dates:
0   2022-01-10
1   2021-02-10
2   2024-03-10
3   2023-04-10
dtype: datetime64[ns]

In [11]:
import pandas as pd

data = {'Name': ['Mahitha', 'Cherish', 'Sanjana', 'Naren'],
        'Age': [25, 27, 22, 21],
        'Branch': ['CSE', 'ECE', 'CSE', 'civil']}
labels = ['Student1', 'Student2', 'Student3', 'Student4']
df = pd.DataFrame(data, index=labels)
print(df)

             Name  Age Branch
Student1  Mahitha   25    CSE
Student2  Cherish   27    ECE
Student3  Sanjana   22    CSE
Student4    Naren   21  civil

In [13]:
import pandas as pd
data = {'Name': ['Mahitha', 'Sanjana', 'Cherish', 'Bhavya', 'Amy'],
            'Attempts': [4, 1, 2, 3, 4],
            'Score': [89, 95, 70, 85, 92]}
df = pd.DataFrame(data)
result= df[df['Attempts'] > 2]

print("DataFrame:")
print(df)

print("\nSelected rows where the number of attempts is greater than 2:")
print(result)

DataFrame:
      Name  Attempts  Score
0  Mahitha         4     89
1  Sanjana         1     95
2  Cherish         2     70
3   Bhavya         3     85
4      Amy         4     92

Selected rows where the number of attempts is greater than 2:
      Name  Attempts  Score
0  Mahitha         4     89
3   Bhavya         3     85
4      Amy         4     92

In [14]:
import pandas as pd

data = {'Name': ['Mahitha', 'Sanjana', 'Cherish', 'Joy']}
df = pd.DataFrame(data)
row_values = {'Name': 'Amy'}

print("DataFrame with New Row:")
print(df)

df = df.drop(df[df['Name'] == 'Joy'].index)
print("\nOriginal DataFrame after Deleting 'Joy':")
print(df)

DataFrame with New Row:
      Name
0  Mahitha
1  Sanjana
2  Cherish
3      Joy

Original DataFrame after Deleting 'Joy':
      Name
0  Mahitha
1  Sanjana
2  Cherish

In [15]:
import pandas as pd
data = {'Name': ['Mahitha', 'Sanjana', 'Cherish', 'Bhavya'],
            'Attempts': [2, 3, 1, 4],
            'Score': [85, 78, 92, 89]}
df = pd.DataFrame(data)

print("New DataFrame:")
print(df)

df = df.sort_values(by=['Name', 'Score'], ascending=[False, True])

print("\nSorted DataFrame:")
print(df)

New DataFrame:
      Name  Attempts  Score
0  Mahitha         2     85
1  Sanjana         3     78
2  Cherish         1     92
3   Bhavya         4     89

Sorted DataFrame:
      Name  Attempts  Score
1  Sanjana         3     78
0  Mahitha         2     85
2  Cherish         1     92
3   Bhavya         4     89

In [16]:

data = {'name': ['Mahitha', 'Sanjana', 'Cherish', 'Amy'],
        'score': [90, 85, 75, 95],
        'qualify': ['yes', 'yes', 'no', 'yes']}

df = pd.DataFrame(data)
df_sorted = df.sort_values(by=['name', 'score'], ascending=[False, True])
print("Sorted DataFrame:")
df_sorted

Sorted DataFrame:

      name  score qualify
1  Sanjana     85     yes
0  Mahitha     90     yes
2  Cherish     75      no
3      Amy     95     yes

In [17]:
with_inf = pd.DataFrame({'Values': [1, 2, float('inf'), 4, float('-inf')]})
without_inf = with_inf.replace([float('inf'), float('-inf')], pd.NA)

print("DataFrame without infinite values:")
print(without_inf)

DataFrame without infinite values:
  Values
0    1.0
1    2.0
2   <NA>
3    4.0
4   <NA>